/*===========================================*/
/*fonts*/
/*===========================================*/
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/league_gothic/leaguegothic-regular-webfont.eot');
    src: url('../fonts/league_gothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/league_gothic/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/league_gothic/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'League Italic';
    src: url('../fonts/league_gothic/leaguegothic-italic-webfont.eot');
    src: url('../fonts/league_gothic/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic/leaguegothic-italic-webfont.woff') format('woff'),
         url('../fonts/league_gothic/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('../fonts/league_gothic/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
   font-family: 'Fanwood';
   src: url('../fonts/fanwood/fanwood-webfont.eot');
   src: url('../fonts/fanwood/fanwood-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fanwood/fanwood-webfont.woff') format('woff'),
        url('../fonts/fanwood/fanwood-webfont.ttf') format('truetype'),
        url('../fonts/fanwood/fanwood-webfont.svg#fanwood_textregular') format('svg'); 
   font-weight: normal;
   font-style: normal;
}